body {
    font-family: Helvetica, sans-serif;
  }
  
  a {
    color: #ec7705;
  }
  
  .site-header nav ul {
    padding: 0;
    margin: 0;
  }
  .site-header nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
  }
  .site-header nav a {
    display: block;
    padding: 10px;
    background-color: #ec7705;
    color: #FFF;
    text-decoration: none;
  }