body 
{	font-family: Arial, sans-serif;    
        font-size: 15px;
        line-height: 1.6em;
        padding:20px;	
        background-color: #c9e3ec;  /*outside container page color */   
}
div.container /* accessing as class */
{
        padding: 20px;
        border:2px solid #80aab7;
        background-color:  #FFF;
}
div.infobox
{
        padding: 0 10px;
        font-size: 12px;
        border:2px solid #fdedae;
        float: right;
        background-color:  #fdedae;
}
div.footer
{
        font-weight: bold;
        background-color:#80aab7;
        color:#c9e3ec;
        padding: 7px 20px;
}
div.footer p{  margin:0; }

p.clear-me
{
        clear: right;
}