body 
{	font-family: Arial, sans-serif;    
        font-size: 15px;
        line-height: 1.6em;
        padding:20px;	
        background-color: #c9e3ec;  /*outside container page color */   
}
div.container /* accessing as class */
{
        padding: 20px;
        border:2px solid #80aab7;
        background-color:  #FFF;
        box-shadow: -5px -5px 5px rgba(128, 170, 183, .5);  /*1-horizontal offset 3px to right--2. verticle offset--3.blur value --4.color*/
                                                  /*  last value .5 controls opacity */
        -webkit-box-shadow: -5px -5px 5px rgba(128, 170, 183, .5)
}
div.infobox
{
        padding: 0 10px;
        font-size: 12px;
        border:2px solid #fdedae;
        float: right;
        background-color:  #fdedae;
}
div.footer
{
        font-weight: bold;
        background-color:#80aab7;
        color:#c9e3ec;
        padding: 7px 20px;
}
div.footer p{  margin:0; }

div.clearfix:after 
{ content: ""; 
  display: table; 
  clear: both; 
}

h1{
text-shadow: 5px 3px 0px #ccc  /*1-horizontal offset 3px to right--2. verticle offset--3.blur value --4.color*/
                                 /* if first two values negative--shadow goes to other side*/
}

    
